= form_for @admin do |f|
  -if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :data_create
    = f.datetime_select :data_create
  .field
    = f.label :article_description
    = f.text_area :article_description
  .field
    = f.label :article_content
    = f.text_area :article_content
  .field
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit 'Save'
