%ul{:class=>"nav nav-tabs", id:"nav-bar"}
  %li{id:"new_art"}
    = link_to "New Article", admins_post_new_path 
  %li{id:"pub_art"}
    = link_to "Published articles", admins_post_published_path
  %li{id:"n_pub_art"}
    = link_to "No published articles", admins_post_npublished_path
  %li{id:"comments"}
    = link_to "Comments", admins_comments_path
  %li{id:"search"}
    = link_to "Search", admins_search_path
  %li{id:"subscribes"}
    = link_to "Subscribes", admins_subscribes_path