%h1 Published Articles

%table
  %tr
    %th Title
    %th Published
    %th Data create
    %th Article description
    %th Article content
    %th
    %th
    %th

  - @admins_p.each do |admin|
    %tr
      %td= image_tag admin.image.url(:small)
      %td= admin.title
      %td= admin.published
      %td= set_time admin.data_create
      %td= raw admin.article_description
      %td= raw admin.article_content
      %td= link_to 'Show', admin
      %td= link_to 'Edit', edit_admin_path(admin)
      %td= link_to 'Destroy', admin, :confirm => 'Are you sure?', :method => :delete

%br

= will_paginate @admins_p