=render 'nav'

-if flash[:notice]
  %div{class:"alert alert-success", style:"width:300px; margin-left:5px;"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      ×
    =flash[:notice]

-if flash[:alert]
  %div{class:"alert alert-success", style:"width:300px; margin-left:5px;"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      ×
    =flash[:alert]    
    
    
- unless @comment.empty?
  .admin_comment
    %h1 Comments
    - @comment.each do |c|
      %p
        = c.username
        = c.email
        %br
        = link_to truncate(c.comment_content, length:30), article_path(c.post_id)
        = link_to '[x]', c, :confirm => 'Are you sure?', :method => :delete
        = link_to "[edit]", admins_path+"/edit/comment/#{c.id}"
      %hr
    %p
      = will_paginate @comment
- else
  %h3 At the moment there not are any comments!