-if notice
  #notice=notice
  
= form_for @comment do |f|

  .field
    %h3
      = current_user.name
    = f.hidden_field :username, :value=>current_user.name
  .field
    %h3
      = current_user.email
    = f.hidden_field :email, :value=>current_user.email

    = f.hidden_field :post_id, :value=>params[:id]

  .field
    = f.label :comment_content
    = f.text_area :comment_content
  .actions
    = f.submit 'Save'
