=javascript_include_tag :comments
-if notice
  %div{class:"alert alert-error", style:"position:relative; top: 30px; width:400px; height:30px; margin: 0 auto;"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      ×
    =notice
-if flash[:alert]
  %div{class:"alert alert-success", style:"position:relative; top: 30px; width:400px; height:30px; margin: 0 auto;"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      ×
    =flash[:alert]
    

.subscribe
  %button{class:"btn btn-primary", :"data-toggle"=>:"modal", href:"#subscribe", id:"subsribe", style:"position: fixed;"}
    Subscribe

%div{class:"modal hide fade", id:"myModal"}
  .modal-header
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×
    %h3 Подписка на рассылку новостей.

  %div{class:"modal-body"}
    %p
      Здравствуйте
      %br Для того чтобы подписаться на обновления сайта необходимо ввести свой e-mail!
    = form_for(@subscribe, method:"post") do |f|
      = f.text_field :email
      = f.submit("Подписаться", class:"btn btn-primary", style:"position:relative; top:-5px;")

    
  %div{class:"modal-footer"}
    %a{href:"#", class:"btn", :"data-dismiss"=>:"modal"}
      Close


.articles
  - @articles.each do |art|
    #article
      = link_to image_tag(art.image.url(:medium), alt:art.title, title:art.title, :id=>"image_b", class:"thumbnail"), art.image.url(:hard), class:"fancybox " if art.image?
      = link_to art.title, article_path(art), id:"title_l"
      %p
        = art.article_description.html_safe if art.article_description?
      %br
      #p_data
        Published:
        = set_time art.date_create
      %p
        = link_to 'Read more...', article_path(art), id:"more"
      %hr

%br
%div{style:"margin-left:70px;"}
  = will_paginate @articles