=javascript_include_tag :comments
.articles
  - @articles.each do |art|
    #article
      = image_tag art.image.url(:medium), alt:art.title, title:art.title, :id=>"image_b", class:"thumbnail" if art.image?
      = link_to art.title, article_path(art), id:"title_l"
      %p
        = art.article_description.html_safe
      %br
      #p_data
        Published:
        = set_time art.date_create
      %p
        = link_to 'Read more...', article_path(art), id:"more"
      %hr

%br

= will_paginate @articles