- @articles.each do |art|
  %tr
    %td= image_tag art.image.url(:small)
    %td= art.title
    %td= art.published
    %td= set_time art.data_create
    %td= raw art.article_description
    %td= raw art.article_content
    %td= link_to 'Show', art

%br