.articles
  - @articles.each do |art|
    #article
      = image_tag art.image.url(:medium), :class=>"image_b" if art.image?
      #art_c
        = link_to art.title, article_path(art)
        = art.article_description.html_safe
        %br
        Published:
        = set_time art.data_create
      %p
        = link_to 'Read more...', article_path(art), id:"more"
      %hr

%br

= will_paginate @articles