- @title = @articles.title

.article_show
  #art_div
    %p
      = @articles.title
    %p
      = image_tag @articles.image.url(:medium), id:"show_img", alt:@articles.title, title:@articles.title, class:"thumbnail" if @articles.image?
    %p
      = raw @articles.article_content
    %p
      Date create:
      %i
        = set_time @articles.date_create
    %hr
  #comments_d
    - if session[:user_id] or admin_auth_signed_in?
      =render 'form'
    - else
      %h3
        For leave a comment Please login:
        = link_to image_tag("facebook_logo2.png", width:"30", height:"30"), "/auth/facebook", id: "sign_in_art"
    %hr
    #comment_box
      - @comments_q.each do |comment|
        %p
          %b Автор комментария:
          = comment.username
        %p
          %b Почта:
          = admin_email(comment.email)
        %p
          = set_time comment.data_p
        %p
          = comment.comment_content
        %hr

  = will_paginate @comments_q