%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Published:
  = @article.published
%p
  %b Data create:
  = set_time @article.data_create
%p
  %b Image
  = image_tag @article.image.url(:medium)
%p
  %b Article description:
  = raw @article.article_description
%p
  %b Article content:
  = raw @article.article_content

= link_to 'Back', home_path
