!!!
%html
  %head
    %title
      = title(@title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div{class:"navbar navbar-fixed-top", id:"nav_admin"}
      %div{class:"navbar-inner", id:"orange_h"}
        %div{class:"container"}
        -if request.fullpath =~ /post/
          %span{class:"s_div"}
            = render 'posts/search'
          = link_to "Orange Blog", posts_path, id:"main-label"
          #admin_label
            Admin Panel
            - if admin_auth_signed_in?
              Signed in as:
              = current_admin_auth.email
              = link_to "Sign out",  destroy_admin_auth_session_path, :method => :delete, id:"sign_out"
            - else
              = link_to "Sign in", new_admin_auth_session_path
          
          
        - else
          %span{class:"s_div"}
            = render 'comments/search'
          = link_to "Orange Blog", home_path, id:"main-label"
        - if current_user
          #sign
            Signed in as
            %strong#username
              = current_user.name
            = link_to "Sign out", signout_path, id: "sign_out"
        - else
          #sign
            = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
    #admin_panel
    = yield
  
  
    #footer
