!!!
%html
%head
  %title OrangeBlog
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  #header
    = link_to "Orange Blog", home_path, id:"main-label"
    #face_book_f
      - if current_user
        Signed in as
        %strong#username
          = current_user.name
        = link_to "Sign out", signout_path, id: "sign_out"
      - else
        = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
#admin_panel
= yield


#footer